.container{
  width: 100%;
  position: relative;
}

.image{
  width: 100%;
  height: auto;
  position: relative;
}

.btns {
  position: absolute;
  top: 67.5%;
  left: 14.25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: #2b4eff;
}

/* ::ng-deep .p-button {
  background-color: #2b4eff;
  border: #2b4eff;
}

::ng-deep .p-button:enabled:hover {
  background: #2b4eff;
  color: #ffffff;
  border-color: #2b4eff;
} */
